.team_profile {
    padding: 32px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.team_profile__container {
    display: flex;
    flex-direction: column;
}

.team_profile__header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 32px 0;
    padding: 0;
}

.team_profile__title {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: rgba(31, 31, 31, 1);
    margin: 0;
    padding: 0;
}

.team_profile__title_link {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: rgba(22, 119, 255, 1);
    margin: 0;
    padding: 0;
}