.profile {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 458px;
    row-gap: 24px;
    column-gap: 24px;
    margin: 0;
    padding: 48px 24px;
}

@media screen and (max-width: 1279px) {
    .profile {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 458px 458px;
    }
}

@media screen and (max-width: 768px) {
    .profile {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: column;
        grid-template-rows: repeat(5, auto);
        column-gap: 0px;
    }
}

@media screen and (max-width: 486px) {
    .profile {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: column;
        column-gap: 0px;
    }
}