.user {
    display: flex;
    padding: 32px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.user__container {
    display: flex;
}

@media screen and (max-width: 768px) {
    .user__container {
        flex-direction: column;
    }
}

.user__avatar {
    height: 284px;
    width: 284px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .user__avatar {
        height: 204px;
        width: 204px;
        margin: 0 0 20px 0;
        padding: 0;
    }
}

.user__data_container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 32px;
    padding: 0;
}

.user__name {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    color: rgba(31, 31, 31, 1);
    margin: 0;
    padding: 0;
}

.user__title {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: rgba(140, 140, 140, 1);
    margin: 14px 0 20px 0;
    padding: 0;
}

.user__item {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: rgba(31, 31, 31, 1);
    margin: 0;
    padding: 0;
    display: inline-block;
}