.diagram {
    display: flex;
}

.diagram__flow {
    height: calc(100vh - 92px);
    width: 100vw;
}

@media screen and (max-width: 768px) {
    .diagram__flow {
        height: calc(100vh - 194px)
    }
}

.diagram__open_button {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 188px;
    height: 40px;
    margin: 20px 0 0 20px;
    padding: 0;
    position: fixed;
    z-index: 2;
}

.diagram__close_button {
    background-color: transparent;
    border: none;
    margin: 30px 0 0 220px;
    padding: 0;
    position: fixed;
    z-index: 2;
}

.diagram__sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
}

.diagram__sidebar_title_container {
    display: flex;
    margin: 0;
    padding: 12px 24px 12px 24px;
}

.diagram__sidebar_title {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.diagram__sidebar_button_close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 0 0 46px;
    padding: 0;
}

.diagram__sidebar_content {}